//Media
$hd: 1504px;
$xl: 1280px;
$l: 992px;
$md: 768px;
$s: 320px;

//Colors
$color-black: #000000;
$color-white: #ffffff;

$color-primary: #222222;

$color-selago: #F7F9FE;
$color-razzmatazz: #F21F5B;
$color-iron: #D4D6D7;
$color-doveGray: #6A6A6A;
$color-royalBlue: #3951E7;
$color-astronaut: #232473;
$color-governorBay: #2E2FB2;
$color-bunting: #1A1B57;

//Fonts
$font-primary: "OpenSans-Regular";
$font-secondary: "OpenSans-Semibold";
$font-tertiary: "Muller-Bold";

//Calculation
$grid-unit: 8px;

//Animation
$transition: .2s ease-in-out;



