.footer-main__address
	.footer-main__address-location г. Санкт-Петербург, Кронверкский пр., 49, ауд. 333
	.footer-main__address-link--wrapper
		span Тел:&nbsp;
		a.footer-main__address-link.footer-main__address-tel-link(href="tel:+7 (931) 538-01-70" rel="nofollow") +7 (931) 538-01-70
	.footer-main__address-link--wrapper
		span E-mail: &nbsp;
		a.footer-main__address-link.footer-main__address-mail-link(href="mailto:job@corp.ifmo.ru" rel="nofollow") job@corp.ifmo.ru
