.header {
  @media (max-width: 375px) {
    width: 100%;
    position: fixed;
    z-index: 3;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
  }

  &__mobile-open {
    @media (max-width: 375px) {
      background: #003e96;

      .header-main__nav {
          position: absolute;
          display: block;
          top: 100%;
          right: 0;
          left: 0;
          padding: 16px;
          height: calc(100vh - 104px);
          background: #0049b0;
      }
    }
  }
}