.footer-main {
    @include container-md;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: 375px) {
        flex-direction: column;
    }

    &--wrapper {
        padding-top: $grid-unit*4;
        padding-bottom: $grid-unit*3;
        background-color: $color-astronaut;
    }
}