.footer-main--wrapper
	.footer-main
		include ../../components/footer-main/__copyright/footer-main__copyright
		include ../../components/footer-main/__menu/footer-main__menu
		include ../../components/footer-main/__contacts/footer-main__contacts
