.footer-main__menu
	ul.footer-main__menu-list
		li.footer-main__menu-item
			a.footer-main__menu-link(href="#") Страница ректора
		li.footer-main__menu-item
			a.footer-main__menu-link(href="#") Институты и факультеты
		li.footer-main__menu-item
			a.footer-main__menu-link(href="#") Библиотека
		li.footer-main__menu-item
			a.footer-main__menu-link(href="#") Издания Университета
		li.footer-main__menu-item
			a.footer-main__menu-link(href="#") Приемная комиссия
		li.footer-main__menu-item
			a.footer-main__menu-link(href="#") Расписание занятий
		li.footer-main__menu-item
			a.footer-main__menu-link(href="#") Страница ректора
		li.footer-main__menu-item
			a.footer-main__menu-link(href="#") Институты и факультеты
		li.footer-main__menu-item
			a.footer-main__menu-link(href="#") Библиотека
		li.footer-main__menu-item
			a.footer-main__menu-link(href="#") Издания Университета
		li.footer-main__menu-item
			a.footer-main__menu-link(href="#") Приемная комиссия
		li.footer-main__menu-item
			a.footer-main__menu-link(href="#") Расписание занятий