.footer-main__social {
    &-title {
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.507px;
        color: $color-white;
        margin-bottom: $grid-unit;
    }
    &-list {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &-item {
        margin-right: $grid-unit;
    }

    &-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: $grid-unit*4;
        height: $grid-unit*4;
        padding: $grid-unit;
        background-color: $color-governorBay;
        border-radius: 100%;

        svg.icon {
            fill: $color-white;
        }
    }
}