.footer-main__social
	.footer-main__social-title Мы в соцсетях:
	ul.footer-main__social-list
		li.footer-main__social-item
			a.footer-main__social-link(href="#" rel="nofollow")
				svg(class="icon")
					use(xlink:href="/img/sprites/sprite.svg#ico_social-vk")
		li.footer-main__social-item
			a.footer-main__social-link(href="#" rel="nofollow")
				svg(class="icon")
					use(xlink:href="/img/sprites/sprite.svg#ico_social-facebook")
		li.footer-main__social-item
			a.footer-main__social-link(href="#" rel="nofollow")
				svg(class="icon")
					use(xlink:href="/img/sprites/sprite.svg#ico_social-twitter")
		li.footer-main__social-item
			a.footer-main__social-link(href="#" rel="nofollow")
				svg(class="icon")
					use(xlink:href="/img/sprites/sprite.svg#ico_social-instagram")
