.footer-main__logo {
    width: 304px;
    height: 32px;
    margin-bottom: $grid-unit*3;

    @media (max-width: 375px) {
        width: 288px;
    }

    &-link {
        display: block;
        line-height: 1;
    }
}