section.main-slider.swiper-container
	.swiper-wrapper.main-slider--wrapper
		.swiper-slide.main-slider__slide
			.main-slider__slide-container
				.h1.main-slider__slide-title Началась подача документов
				.main-slider__slide-desc Программа предполагает углубленное изучение вопросов, связанных с проектированием, исследованием, производством и эксплуатацией мехатронных и робототехнических систем и комплексов.
				a.button.button-pink.main-slider__slid-btn(href='#') Подробнее
		.swiper-slide.main-slider__slide
			.main-slider__slide-container
				.h1.main-slider__slide-title Началась подача документов
				.main-slider__slide-desc Программа предполагает углубленное изучение вопросов, связанных с проектированием, исследованием, производством и эксплуатацией мехатронных и робототехнических систем и комплексов.
				a.button.button-pink.main-slider__slid-btn(href='#') Подробнее
		.swiper-slide.main-slider__slide
			.main-slider__slide-container
				.h1.main-slider__slide-title Началась подача документов
				.main-slider__slide-desc Программа предполагает углубленное изучение вопросов, связанных с проектированием, исследованием, производством и эксплуатацией мехатронных и робототехнических систем и комплексов.
				a.button.button-pink.main-slider__slid-btn(href='#') Подробнее
	.main-slider__button.main-slider__button-prev
		svg(class="icon")
			use(xlink:href="/img/sprites/sprite.svg#ico_arrow-left")
	.main-slider__button.main-slider__button-next
		svg(class="icon")
			use(xlink:href="/img/sprites/sprite.svg#ico_arrow-right")