.footer-extra--wrapper
	.footer-extra
		a.footer-extra__link(href="") Правила использования информации в доменной зоне ifmo.ru
		a.footer-extra__link(href="") Политика по обработке Персональных данных