nav.header-main__nav
	ul.header-main__nav-list
		li.header-main__nav-item
			a(href="#" class="header-main__nav-link") О лаборатории
		li.header-main__nav-item
			a(href="#" class="header-main__nav-link") Учебная деятельность
		li.header-main__nav-item
			a(href="#" class="header-main__nav-link") Научная деятельность
		li.header-main__nav-item
			a(href="#" class="header-main__nav-link") Новости
		li.header-main__nav-item
			a(href="#" class="header-main__nav-link") Контакты