.header-main__nav {

    @media (max-width: 768px) {
        display: none;
    }

    &-list {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 16px;
        line-height: $grid-unit*3;
    }
  
    &-item {
        margin-left: $grid-unit*5;

        &:first-of-type {
            margin-left: 0;
        }
    }

    &-link {
        font-size: 16px;
        line-height: $grid-unit*3;

        &:hover, &:focus {
            color: $color-black;
        }
    }
}