.header-additional__languages
	a(href="https://en.itmo.ru/en/" class="header-additional__languages-link" target="_blank")
		span.header-additional__languages-name En
		img(src="/img/ico/ico_language-uk.png" width="24" height="24" alt="UK")