.news {

    h2 {
        margin-bottom: $grid-unit*3;
    }

    &__container {
        @include row;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    &--wrapper {
        @include container-md;
        margin-bottom: $grid-unit*10;
    }
}
