.news--wrapper
	section.news
		h2 Новости и события
		.news__container
			- var newsSrc = '/img/img/img_news-1.jpg';
			- var newsDate = '2 декабря 2019';
			- var newsDesc = 'Физарум//Перформер, 2019, Bioroboty019 это мультимедийный перформанс о связи человеческого и нечеловеческого, представленный на Кураторском форуме в Молодёжный...';
			include ../../components/news-item/news-item
