.button {
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: $grid-unit*3;
    padding: 13px 24px;
    text-align: center;
    text-decoration: none;
    border: 0;
    transition: $transition;
    cursor: pointer;

    &[disabled] {
        cursor: default;
        opacity: 0.5;
    }

    &-round {
        border-radius: 50px;
    }

    &-block {
        display: block;
        width: 100%;
    }

    &-pink {
        color: $color-white;
        background-color: $color-razzmatazz;
        transition: $transition;

        &:hover, &:focus {
            color: $color-white;
            background-color: $color-crimson;
        }
    }

    &-blue {
        color: $color-white;
        background-color: $color-royalBlue;
        transition: $transition;

        &:hover, &:focus {
            color: $color-white;
            background-color: $color-astronaut;
        }
    }

    &-mail {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &:before {
            content:'';
            display: block;
            width: 16px;
            height: 16px;
            background-image: url('dist/img/sprites/sprite.svg#ico_mail');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}