$path: '/dist/fonts/';

@font-face {
  font-family: "OpenSans-Regular";
  font-style: normal;
  font-weight: normal;
  src: url($path + 'OpenSans-Regular.woff2') format("woff2"),
       url($path + 'OpenSans-Regular.woff') format("woff");
       url($path + 'OpenSans-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "OpenSans-Semibold";
  font-style: normal;
  font-weight: 600;
  src: url($path + 'OpenSans-Semibold.woff2') format("woff2"),
       url($path + 'OpenSans-Semibold.woff') format("woff");
       url($path + 'OpenSans-Semibold.ttf') format("truetype");
}

@font-face {
  font-family: "Muller-Bold";
  font-style: normal;
  font-weight: bold;
  src: url($path + 'Muller-Bold.woff2') format("woff2"),
       url($path + 'Muller-Bold.woff') format("woff");
       url($path + 'Muller-Bold.ttf') format("truetype");
}