//Fast-fix
label,
button,
input,
textarea {
    font-family: $font-primary;
    font-size: 14px;
    letter-spacing: 0.18px;
    color: $color-primary;
    background: none;
    border: 0;
    padding: 0;
    -webkit-appearance: none;
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
    outline: none;
    cursor: pointer;

    &:hover, &:focus {
        outline: none;
    }
}

input:-webkit-autofill {
    background-color: $color-white !important;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    resize: none;
}

input[type='checkbox'] {
    -webkit-appearance: checkbox;
}

input,
textarea {
    font: 14px $font-primary;
    color: $color-black;

    &::placeholder {
        font: 14px $font-primary;
        color: $color-silver;
    }
}

button,
button[disabled] {
    cursor: default;
}

.label {
    position: relative;
    display: block;
}

//Fast-fix ENDs

input {
    width: $grid-unit*34;
    padding: 15px $grid-unit*3;
    line-height: 1;
    background: #FFFFFF;
    color: $color-black;
    border: 1px solid $color-alto;
    transition: $speed ease-in-out;

    &:active, &:focus, &:hover {
        border-color: $color-limedOak;
        outline: none;
        box-shadow: none;
    }
}

.input-vue {
    position: relative;
    padding-top: $grid-unit*3;

    label {
        position: absolute;
        left: $grid-unit*3;
        top: 37px;
        font-size: 14px;
        line-height: $grid-unit*3;
        color: $color-black;
        transition: $speed ease-in-out;
    }

    &_filled {
        label {
            top: 0;
            font-size: 12px;
        }
    }

    &_error {
        input {
            border-color: $color-red;
        }

        .error-text {
            width: $grid-unit*36;
            margin-top: $grid-unit;
            padding-left: $grid-unit*3;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.15px;
            color: $color-red;
        }
    }
}

.textarea {
    display: block;
    width: 100%;
    height: 100px;
    padding: $grid-unit*2;
}

.radio {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
    line-height: 1;

    &:last-of-type {
        margin-bottom: 0;
    }

    input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        pointer-events: none;
        line-height: 1;

        &:checked {
            ~ label::before {
                border: 2px solid $color-limedOak;
            }

            ~ label::after {
                opacity: 1;
            }
        }

        &:hover {
            ~ label::before {
                border: 2px solid $color-limedOak;
            }
        }
    }

    label {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        cursor: pointer;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently
                                         supported by Chrome, Opera and Firefox */

        &:before {
            content: '';
            width: $grid-unit*2;
            height: $grid-unit*2;
            background: transparent;
            border: 2px solid $color-SilverChalice;
            border-radius: 50%;
            margin-right: 10px;
            transition: $speed ease-in-out;
            flex-shrink: 0;

            @media (min-width: $tablet) {
                width: $grid-unit*3;
                height: $grid-unit*3;
            }

            @media (min-width: $desktop) {
                width: $grid-unit*4;
                height: $grid-unit*4;
            }
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: $grid-unit*2;
            height: $grid-unit*2;
            border-radius: 50%;
            border: 5px solid $color-white;
            background-color: $color-limedOak;
            transition: $speed ease-in-out;
            opacity: 0;
            z-index: -1;

            @media (min-width: $tablet) {
                width: $grid-unit*3;
                height: $grid-unit*3;
                border: 8px solid $color-white;
            }

            @media (min-width: $desktop) {
                width: $grid-unit*4;
                height: $grid-unit*4;
                border: 10px solid $color-white;
            }
        }

    }
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
    line-height: 1;

    text-align: left;

    &:last-of-type {
        margin-bottom: 0;
    }

    input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        pointer-events: none;

        &:checked {
            ~ label::before {
                border: 2px solid $color-limedOak;
            }

            ~ label::after {
                opacity: 1;
            }
        }

        &:hover {
            ~ label::before {
                border: 2px solid $color-limedOak;
            }
        }
    }

    label {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        font-size: 12px;
        line-height: $grid-unit*2;
        letter-spacing: 0.15px;
        color: $color_primary;
        cursor: pointer;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently
                                         supported by Chrome, Opera and Firefox */

        &:before {
            content: '';
            width: $grid-unit*2;
            height: $grid-unit*2;
            background: #FFFFFF;
            border: 2px solid $color-SilverChalice;
            box-sizing: border-box;
            margin-right: 10px;
            transition: $speed ease-in-out;
            flex-shrink: 0;

            @media (min-width: $tablet) {
                width: $grid-unit*3;
                height: $grid-unit*3;
            }
            @media (min-width: $desktop) {
                width: $grid-unit*4;
                height: $grid-unit*4;
            }
        }

        &::after {
            content: "";
            position: absolute;
            left: 6px;
            top: 3px;
            @include tick(8px, 4px, 1px, $color-limedOak);
            transition: $speed ease-in-out;
            opacity: 0;

            @media (min-width: $tablet) {
                left: 9px;
                top: 4px;
                @include tick(13px, 6px, 2px, $color-limedOak);
            }

            @media (min-width: $desktop) {
                left: 12px;
                top: 4px;
                @include tick(18px, 8px, 2px, $color-limedOak);
            }
        }

    }

}

.close-link {
    position: absolute;
    display: block;
    width: $grid-unit*2;
    height: $grid-unit*2;
    font-size: 0;
    transition: $speed ease-in-out;
    cursor: pointer;

    svg.icon {
        fill: #B4B4B4;
    }

    &:hover, &:focus {
        svg.icon {
            fill: #B39461;
        }
    }

    @media (min-width: $tablet) {
        width: $grid-unit*3;
        height: $grid-unit*3;
    }

    @media (min-width: $desktop) {
        width: $grid-unit*4;
        height: $grid-unit*4;
    }
}