.swiper-main-wrapper {
    position: relative;


    &.slider__main {
        .slider-arrows{
            position: absolute;
            bottom: 56px;
            left: 96px;
        }
    }
}


.swiper-wrapper {
    height: 320px;
    width: 100%;
    position: static;
    
    @media (min-width: $desktop) {
        height: 552px;
    }
}

.swiper-container {
    position: static;
    z-index: 2;
}

.swiper-slide {
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    img {
        width: 100%;
    }
}

.swiper-pagination {
    bottom: -36px !important;
    text-align: left !important;
    padding-left: $grid-unit*3 !important;


.swiper-pagination-bullet {
        height: 6px;
        width: 6px;
        background: $color-alto;
        transform: rotate(45deg);
        border-radius: 0;
        opacity: 1;

        &.swiper-pagination-bullet-active {
            background-color: $color-limedOak;
        }
    }
}

.swiper-counter {
    position: absolute;
    bottom: 56px;
    right: 96px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: $font-secondary;
    font-weight: 100;
    font-size: 30px;
    line-height: $grid-unit*4;
    letter-spacing: 0.38px;
    color: $color-white;
    z-index: 2;



    &__attention {
        font-family: $font-tertiary;
        font-style: italic;
        font-size: 100px;
        letter-spacing: -1.5px;
        line-height: $grid-unit*10;

    }
}

.slider-arrows {
    display: flex;
    justify-content: flex-start;
    z-index: 2;

    .slider-arrows__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: $grid-unit*4;
        height: $grid-unit*4;
        margin-right: $grid-unit*6;
        background-color: $color-white;
        border: 1px solid rgba(82, 82, 82, 0.25);
        transition: $speed ease-in-out;
        cursor: pointer;

        @media (min-width: $tablet) {
            width: $grid-unit*5;
            height: $grid-unit*5;
            margin-right: $grid-unit*3;
        }

        @media (min-width: $desktop) {
            width: $grid-unit*6;
            height: $grid-unit*6;
        }

        &:hover, &:focus {
            background-color: rgba(0, 0, 0, 0.08);
        }

        &-prev {
            &:after {
                @include triangle(left, 8px, 8px, #525252);
            }
        }

        &-next {
            &:after {
                @include triangle(right, 8px, 8px, #525252);
            }
        }
    }

    &_inverse {

        .slider-arrows__item {
            border-color: rgba(255, 255, 255, 0.85);
            background-color: transparent;

            &:hover, &:focus {
                background-color: rgba(255, 255, 255, 0.35);
            }

            &-prev {
                &:after {
                    @include triangle(left, 8px, 8px, rgba(255, 255, 255, 0.85));
                }
            }

            &-next {
                &:after {
                    @include triangle(right, 8px, 8px, rgba(255, 255, 255, 0.85));
                }
            }
        }

    }
}

